<h1>Promises Promises</h1>
<div class='promises-container'>
      <p class='promise-col-label'>Promise Maker:</p>
      <p class='promise-col-label'>Promise:</p>
      <p class='promise-col-label'>Status:</p>
  <% @promises.each do |promise| %>
      <p><%= promise.maker_name %></p>
      <p><%= promise.content %></p>
      <p><%= promise.status %></p>
  <% end %>
</div>
<div>
  <%= link_to "Add Promise", new_promise_path %>
</div>
