<div class='show-page-container'>
  <p>
    <span class='promise-col-label'>Promise Maker</span>
    <%= @promise.maker_name %>
  </p>
  <p>
    <span class='promise-col-label'>The Promise</span>
    <%= @promise.content %>
  </p>
</div>
